body{
    margin: 0px;
    padding: 0px;
    background: #363636;
}
*{
    text-decoration: none;
    list-style: none;
    font-family: montserrat;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

/* <!-- Start Header  -->  */

#home{
    width: 100%;
    margin: 30px 0px;
    padding: 8px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: linear-gradient( to right, #ff00002d, #ff00001a, #ff00002d);
    transition: .5s ease-in-out;
    z-index: 5;

}

.logo-container #imgContainer{
    width: 150px;
    transition: .5s ease-in-out;
}

.nav-bar ul li{
    display: inline-block;
    margin-left: 80px;
}

.nav-bar ul li a{
    color: white;
    font-weight: 300;
}

.nav-bar ul li a::before{
    content: '';
    background:#ff6060;
    position: absolute;
    top: 75%;
    width: 0%;
    height: 2px;
    transition: .4s ease-in-out;
    display: inline-block;
}

.nav-bar ul li a:hover::before{
    width: 3.2%;
}

/* <!-- End Header  -->  */

/* <!-- Start Section  -->  */

.imageContainer .m1, .m2, .m3, .m4{
    width: 100%;
    height: 100vh;
    z-index: -3;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: .6 ease-in-out;
}






#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}

.imageContainer input{
    display: none;
}



.imageContainer::before{
    content: '';
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #d60d0ddc, #80068585);
    display: block;
    z-index: -1;
    position: absolute;
    top: 0px;
    transition: 0.5s ease-in-out;
}


.dots{
    display: flex;
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-50%);

}
label{
    width: 12px;
    height: 12px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.dots label:hover{
    background: white;
    transition: .4s ease-in-out;
}





/* <!-- End Section  -->  * /



/* -----Stanr Banner -----0 */
.banner{
    width: 100%;
    height: 100vh;
    margin-top: -20px;
}
.banner-container{
    max-width: 600px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.banner-container h1{
    margin: 25px 0px;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    color:#cc4646;
    animation: rightLeft 2s ease-in-out;
    overflow: hidden;
}

@keyframes rightLeft{
    0% {   transform: translateX(-100%);
           opacity: 0 ;}
    100%  { transform: translateX(0%);
            opacity: 1 ; }
} 

@keyframes leftRight{
    0%  {    transform: translateX(100%);
            opacity: 0; }
    100% {  transform: translateX(0%);
            opacity: 1;}
}

.banner-container h3{
    color: white;
    font-weight: 300;
    line-height: 30px;
    animation: leftRight 2s ease-in-out;
    text-align: center;
    margin: 0px auto;
}

/* -----End Banner -----0 */

/* <!-- Start Servicese  -->  */

    #services{
        max-width: 100%;
        height: 130vh;
        background: #363636;
    }
    .title h1{
        margin-top: 0px;
        padding-top: 50px;
        text-align: center;
        position: relative;
        background:  #363636;
        -webkit-background-clip: text;
        color: #363636;
        z-index: 4;
     }
     .title h1::before{
         content: attr(data-text);
         position: absolute;
         padding-top: 50px;
         top: 2px;
         color: transparent;
         background: linear-gradient(to right, #ff7300, red, yellow);
         -webkit-background-clip: text;
         z-index: -1;
         filter: blur(2px);
     }
     .title h1::after{
        content: attr(data-text);
        padding-top: 50px;
        position: absolute;
        top: 2px;
        left: 50%;
        transform: translateX(-50%);
        color: transparent;
        background: linear-gradient(to right, orange, red, yellow);
       -webkit-background-clip: text;
        z-index: -2;
        filter: blur(4px);
    }


    .containerTwo{
        max-width: 1400px ;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    .card1{
        width: 25%;
        background: rgb(73, 73, 73);
        text-align: center;
        padding: 25px;
        margin: 25px; 
        overflow: hidden;  
    }

    .hoverline{
        width: 117%;
        height: 3px;
        background: #ff6060;
        position: relative;
        bottom: -25px;
        left: -67%;
        transform: translateX(-50%);  
        transition: .6s ease-in-out; 
    }
    .card1:hover .hoverline{
        left: 50%;     
    }


    .card1 .fa{
        font-size: 25px;
        margin: 20px;
        color: #ff6060;
        transition: .4s ease-in-out; 
    }
    .card1:hover .fa{
        transform: scale(1.5);
    }
    .card1 h2{
        font-weight: 400;
        color: rgb(231, 231, 231);
    }
    .card1 p{
        padding: 20px 5px ;
        color: rgb(173, 173, 173);
        font-size: 13px;
        line-height: 20px;
    }
    .card1 button{
        padding: 15px 20px;
        background:#ff6060 ;
        color: white;
        margin: 20px 0px;
        cursor: pointer;
        transition: .2s ease-in-out; 
    }
  
/* <!-- End Servicese  -->  */